# MongoDB Configuration for Yandex Cloud
MONGO_HOSTS=rc1b-mgqg0tvce0h4cda6.mdb.yandexcloud.net:27018
MONGO_DB=hallucinate_me
MONGO_USER=your_username
MONGO_PASSWORD=your_password
MONGO_REPLICA_SET=rs01
MONGO_SILENT=true

JWT_SECRET_KEY=1234
PASSWORD_SALT=1